img {
    width: 18rem;
    aspect-ratio: 1/1;
    border-radius: 50em;
    overflow: hidden;
}

.thin {
    font-size: 12px!important;
    font-weight: 300;
}

p {
    text-align: center;
}

.container-header {
    background-color: var(--color-primary);  
}

h1 {
    color: var(--color-secondary);
    margin: 0px;
}

.arrow {
    position: absolute;
    color: var(--color-secondary);
}

button {
    background-color: var(--color-background);
}

.menu-button {
    background-color: var(--color-primary)!important;
}

.main {
    overflow: hidden;
    display: flex;
    margin: 0;
	flex-flow: column nowrap;
}



.starIcon {
    position: absolute;
    right: 2%;
    color: var(--color-primary);
}

.starCounter {
    position: absolute;
    right: 13px;
    top: 63px;
}