<div class="container mt-5">
    <h1>Registration</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <form [formGroup]="formGroup">
                <div class="row">
                    <div class="col">
                        <app-input id="firstName" label="First name" [control]="formGroup.controls.firstName" maxlength="40"></app-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <app-input id="lastName" label="Last name" [control]="formGroup.controls.lastName" maxlength="64"></app-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <app-input id="email" label="E-mail" [control]="formGroup.controls.email" maxlength="62"></app-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <app-input id="username" label="Username" [control]="formGroup.controls.username" maxlength="45"></app-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <app-input id="password" label="Password" type="password" [control]="formGroup.controls.password" maxlength="64"></app-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <app-input id="passwordConfirmation" label="Password confirmation" type="password" [control]="formGroup.controls.passwordConfirmation" maxlength="64"></app-input>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <app-button label='register' type="primary" (click)="registration()" [disabled]="!formGroup.valid"></app-button>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <p class="text-center">Already have an account? <a href="login">Sign in</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>