.input__container {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.input__field {
  caret-color: var(--color-primary);
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--color-gray);
  outline: 0;
  font-size: 1rem;
  padding: 7px 0;
  background: transparent;
  transition: var(--transition-border-color);

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .input__label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
  }
}

.input__label {
  position: absolute;
  top: 0;
  display: block;
  transition: var(--transition-half);
  font-size: 1rem;
  color: var(--color-gray);
}

.input__field:focus {
  ~ .input__label {
    position: absolute;
    top: 0;
    display: block;
    transition: var(--transition-half);
    font-size: 1rem;
    color: var(--color-primary);
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--color-primary), var(--color-primary-variant));
  border-image-slice: 1;
}
/* reset input */
.input__field{
  &:required,&:invalid { box-shadow:none; }
}

.input__error {
  color: #ff9a9a;
  font-size: 0.8rem;
  margin: 0;
}