<mat-toolbar class="toolbarNav">
    <button mat-flat-button routerLink="/dates" routerLinkActive="active-link">
      <mat-icon class="material-icons">calendar_today</mat-icon>
        <span>Dates</span>
    </button>
    <button mat-flat-button routerLink="/home" routerLinkActive="active-link">
        <mat-icon class="material-icons">home</mat-icon>
        <span>Home</span>
    </button>
    <button mat-flat-button routerLink="/profile" routerLinkActive="active-link">
      <mat-icon class="material-icons">person</mat-icon>
      <span>Profile</span>
    </button>
  </mat-toolbar>