.toolbarNav {
    position: fixed;
    font-size: 12px;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-background);
}
button {
  display: flex;
  color: var(--color-gray);
  background-color: var(--color-background);
  padding: 1em 0 2em 0;
  flex-direction: column;
  align-items: center;
  width: 100%;
  span {
    display: block;
  }
}

button:hover,
.active-link {
  color: var(--color-primary);
}

.active-link{
  box-shadow: 0 -5px 5px -5px var(--color-primary);
}