<div class="container mt-5">
    <h1>Login</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <form [formGroup]="formGroup" (ngSubmit)="login()">
                <div class="row">
                    <div class="col">
                        <app-input id="username" label="Username" [control]="formGroup.controls.username" maxlength="45"></app-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <app-input id="password" label="Password" type="password" [control]="formGroup.controls.password" maxlength="64"></app-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="forgot-password" class="float-end mt-3">Forgot password?</a>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <button type="submit" [ngClass]="{ 'login-button-disabled' : !formGroup.valid }">LOGIN</button>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <p class="text-center">Dont have an account yet? <a href="registration">Sign up</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>