<form [formGroup]="form">
    <div class="container">
        <div class="row">
            <input type="text" id="username" name="username" formControlName="username" placeholder="Username">
        </div>
        <div class="row">
            <input type="text" id="password" name="password" formControlName="password" placeholder="Password">
        </div>
        <div class="row">
            <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
            <input type="submit" value="Submit" (click)="login()">
        </div>
    </div>
</form>