h2 {
    text-align: start;
}

.expanded {
    flex: auto;
    overflow-y: scroll;
}

img {
    max-height: 250px;
}

.main {
    overflow: hidden;
    display: flex;
    margin: 0;
	flex-flow: column nowrap;
}
