<app-title [title]="partyHouse.name"></app-title>
<div class="container main">
    <div class="row">
        <div class="col p-0">
            <img [src]="partyHouse.photo" alt="">
        </div>
    </div>
    <div class="row pt-2 pb-1">
        <div class="col">
            <h2>{{partyHouse.name}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore illum laboriosam magnam aliquam, quia dolore perspiciatis ipsa aspernatur odio incidunt. Quam non deleniti nesciunt at eaque temporibus doloribus nobis molestias.sssssssssssssssssssssssssssss</p>
        </div>
    </div>
</div>