.container {
    background-color: var(--color-primary);  
    height: 40px;
}

h1 {
    color: var(--color-secondary);
    margin: 0px;
}

.arrow {
    position: absolute;
    color: var(--color-secondary);
}