h1, h2 {
    text-align: start;
}

a {
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}

h2 {
    font-weight: 300;
}

img {
    max-height: 250px;
    overflow: hidden;
}

.expanded {
    flex: auto;
    overflow-y: scroll;
}

.main {
    overflow: hidden;
    display: flex;
    margin: 0;
	flex-flow: column nowrap;
}

mat-icon {
    transform: scale(0.7);
    margin: 0;
}

.checked {
    color: orange;
}