<div class="container mt-5">
    <h1>Resetar senha</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <form [formGroup]="formGroup">
                <div class="row">
                    <div class="col">
                        <app-input id="password" label="Senha" type="password" [control]="formGroup.controls.password" maxlength="64"></app-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <app-input id="passwordConfirmation" label="Confirmação de senha" type="password" [control]="formGroup.controls.passwordConfirmation" maxlength="64"></app-input>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <app-button label='Resetar senha' type="primary" (click)="resetPassword()" [disabled]="!formGroup.valid"></app-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>