.overlay-container {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent 0%, rgb(0, 0, 0));
}

.overlay-container:hover {
    background-image: linear-gradient(transparent 100%, rgb(0, 0, 0, 0));
}

.title {
    position: absolute;
    left:0;
    right:0;
    bottom: -3%;
    margin-left:auto;
    margin-right:auto;
}

h1 {
    font-size: 1rem;
    text-align: start;
}

@media (max-width: 360px)  {
    .description {
        display: none;
    }
}

.stars {
    position: absolute;
    transform: scale(0.5);
    right: -18px;
    top: 4px;
}

.checked {
    color: orange;
}

.details {
    position: absolute;
    bottom: 0;
    right: 8%;
}

a:hover {
    color: var(--color-primary);
}