<div class="container mt-5">
    <h1>Recuperação de senha</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <form [formGroup]="formGroup">
                <div class="row">
                    <div class="col">
                        <app-input id="email" label="E-mail" [control]="formGroup.controls.email" maxlength="62"></app-input>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <app-button label='Recuperar senha' type="primary" (click)="sendPasswordRecoveryEmail()" [disabled]="!formGroup.valid"></app-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>