@import '~ngx-toastr/toastr.css';
@import '~bootstrap/scss/bootstrap';
@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Oswald', 'sans-serif';
}

:root {
    // color
    --color-background: #ffffff;
    --color-primary: #b74bec;
    --color-primary-variant: #d27cfd;
    --color-secondary: #ffffff;
    --color-black: #000000;
    --color-text: #444444;
	--color-gray: #bbb;

	// transitions
    --transition-default: all 400ms ease;
    --transition-half: all 200ms ease;
    --transition-border-color: border-color 0.2s;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    font-size: 1.3rem;
}

h1 {
    font-weight: 500;
    text-align: center;
}