@import '~ngx-toastr/toastr.css';
@import '~bootstrap/scss/bootstrap';
@import '~swiper/scss';
@import '~swiper/scss/autoplay';
@import '~swiper/scss/pagination';
@import '~swiper/scss/navigation';

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    // color
    --color-background: #ffffff;
    --color-primary: rgb(183, 75, 235);
    --color-primary-dark: rgb(133, 25, 185);
    --color-primary-variant: rgb(186, 106, 223);
    --color-secondary: #ffffff;
    --color-black: #000000;
    --color-text: #444444;
	--color-gray: rgb(187, 187, 187);
    --color-gray-light: rgb(238, 238, 238);

	// transitions
    --transition-default: all 400ms ease;
    --transition-half: all 200ms ease;
    --transition-border-color: border-color 0.2s;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    color: var(--color-text);
}

html, body { height: 100%; }

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: var(--color-primary);
    margin: 0 !important;
}

h2 {
    font-size: 18px !important;
    font-weight: 100;
    text-align: center;
    color: var(--color-primary);
    margin: 0;
    font-size: 0.8rem;
    margin: 0 !important;
}

img {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    object-fit: cover;
}

a {
    color: var(--color-primary);
}

a:hover {
    color: var(--color-primary-dark);
}

p {
    font-size: 14px !important;
    font-weight: 300;
    margin-bottom: 0px;
}
