* {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.button {
    color: var(--color-text);
    border-radius:  0.4rem;
    cursor: pointer;
    transition: var(--transition-default);
    border: 1px solid transparent;
}

.button-primary {
    background: var(--color-primary);
    color: var(--color-secondary);
}

.button-primary:hover {
    background: var(--color-primary-dark);
    border-color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.button-secondary {
    background: var(--color-secondary);
    color: var(--color-text);
}

.button-secondary:hover {
    background: var(--color-primary);
    color: var(--color-secondary);
}

.button-tertiary {
    background: var(--color-secondary);
    color: var(--color-gray);
}

.button-tertiary:hover {
    color: var(--color-text);
}

.button-disabled {
    background: var(--color-gray-light);
    color: var(--color-gray);
    border-color: var(--color-gray);
}

.button-disabled:hover {
    background: var(--color-gray-light);
    color: var(--color-gray);
    border-color: var(--color-gray);
}

i {
    margin-right: 10px;
}